<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.admin.restaurant.mapper.DineInOrdersMapper">
    <!-- 通用映射 -->
    <resultMap id="BaseResultMap" type="com.sz.admin.restaurant.pojo.po.DineInOrders">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="table_id" property="tableId"/>
        <result column="number_of_guests" property="numberOfGuests"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, table_id, number_of_guests, remark
    </sql>

</mapper>
