<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.admin.restaurant.mapper.TakeawayOrdersMapper">
    <!-- 通用映射 -->
    <resultMap id="BaseResultMap" type="com.sz.admin.restaurant.pojo.po.TakeawayOrders">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_phone" property="customerPhone"/>
        <result column="delivery_address" property="deliveryAddress"/>
        <result column="packaging_fee" property="packagingFee"/>
        <result column="delivery_fee" property="deliveryFee"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id,customer_name, customer_phone, delivery_address, packaging_fee, delivery_fee, remark
    </sql>

</mapper>
